name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    
    - uses: actions/checkout@v4
    
    - name: Build the test Docker image
      working-directory: ./my-app
      run: docker build . --file Dockerfile.test --tag my-app-test:latest
      
    - name: Run tests in container
      working-directory: ./my-app
      run: docker run --name test-runner my-app-test:latest
    
  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
    - uses: actions/checkout@v4        
    - name: Build the Docker image
      working-directory: ./my-app
      run: docker build . --file Dockerfile --tag my-app:latest
