name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Build the test Docker image
      working-directory: ./my-app
      run: docker build . --file Dockerfile.test --tag my-app-test:latest
      
    - name: Run tests in container
      working-directory: ./my-app
      run: docker run --name test-runner my-app-test:latest
    
  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
    
    - name: Checkout code
      uses: actions/checkout@v4      
        
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: ./my-app
        push: true
        tags: |
          ${{ secrets.DOCKER_USERNAME }}/my-app:${{ github.sha }}
          ${{ secrets.DOCKER_USERNAME }}/my-app:latest
